@media only screen and (max-width:502px) {

    *{
        padding: 0%;
        margin: 0%;
        font-family: 'hacker';
    }

    html,body{
        width: 100vw;
        height: auto;
        background-color: transparent;
    }

    .header{
        background-color: black;
        width: 100%;
        height: 60px;
        position: fixed;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-around;
        overflow: unset;
    }

    .header>nav>.logo{
        width: 25vw;
        position: relative;
        overflow: hidden;
        /* background-color: green; */
    }

    .header>nav>.logo>h2{
        font-size: 6vw;
    }

    nav>.links{
        /* overflow: hidden; */
        background-color: transparent;
        border: 1px solid #fff;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
    }

    nav>.links:hover #main-links{
        display: block;
    }

    .links-rapper{
        background-color: transparent;
        width: 70px;
        height: 40px;
        position: absolute;
        display: block;
    }

    .links-rapper>h3{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        font-size: 6vw;
    }

    nav>.links>ul{
        position: absolute;
        top: 6.7vh;
        right: 0%;
        width: 30%;
        height: auto;
        display: flex;
        padding: 1vh 1vw;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: transparent;
        box-shadow: 0 0 2px #fff;
        border-radius: 7px;
        gap: 10px;
    }

    nav>.links>ul>li>a{
        font-size: 2vw;
    }

    #main-links{
        text-align: center;
        display: none;
        background-color: #000;
    }

    #main-links>.design-hover-open>.open-ul{
        background-color: #000;
        /* display: block; */
        position: absolute;
        left: -53%;
        top: 78%;
        border-radius: 5px;
        border: none;
        box-shadow: 0 0 2px #fff;
        width: 40%;
        text-align: center;
        font-size: 3vw;
        padding: 10px;
    }

    #main-links>.design-hover-open>.open-ul>li>a{
        font-size: 2.3vw;
    }

    nav>.buttons{
        position: absolute;
        display: none;
    }

    .main{
        width: 100vw;
        background-color: transparent;
    }

    .co-main{
        width: 100%;
        background-color: rgba(22, 22, 22, 0.925);
    }

    .mar-6vw{
        width: 100%;
        height: 0px;
    }

    #page1{
        background-color: transparent;
        width: 100%;
    }
    .main-rap-page1{
        background-color: transparent;
        width: 100%;
        height: 32vh;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-rap-page1>#main-im-i-p1{
        width: 100%;
        position: absolute;
        z-index: 0;
    }
    
    .main-rap-page1>.main-rap-page1-h1{
        background-color: transparent;
        width: 90%;
        height: 20%;
        position: relative;
        top: -7vh;
        padding: 0;
        z-index: 3;
    }

    .main-rap-page1>.main-rap-page1-h1>h1{
        font-size: 4vw;
        font-weight: 600;
    }

    .main-rap-page1>.main-rap-page1-h1>p{
        font-size: 2.5vw;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        background-color: rgba(124, 124, 124, 0.219);
    }

    .main-rap-page1>.search-box{
        top: 20vh;
        width: 80%;
        height: 4vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 2vw;
    }

    .main-rap-page1>.search-box>h2{
        background-color: transparent;
        height: 100%;
        width: 4vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ri-search-line{
        font-size: 4vw;
    }

    .main-rap-page1>.search-box>input{
        background-color: transparent;
        height: 94%;
        font-size: 2.5vw;
    }

    .main-rap-page1>.search-box>.choose{
        background-color: transparent;
        height: 60%;
        width: 16vw;
    }

    .main-rap-page1>.search-box>.choose>#select{
        background-color: transparent;
        border: none;
        width: 100%;
        padding: 0;
        font-size: 2vw;
    }

    .page1-buttons-box{
        background-color: transparent;
        width: 100%;
        padding: 0%;
        height: 5vh;
        box-shadow: 0 0 1px #fff;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 2px;
        position: relative;
        top: -0vh;
    }

    .page1-buttons-box>.page1-buttons{
        background-color: rgba(58, 58, 58, 0);
        font-size: 66%;
        padding: 0.8vh 0.7vw;
        border-radius: 5px;
    }

    .page1-images{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 0px;
        top: 2vh;
        position: relative;
    }

    .page1-images>.image{
        width: 23%;
        height: 15vh;
        border-radius: 15px;
    }

    .in-page1-main-image{
        width: auto;
        height: 100%;
    }

    .main-logo-page1{
        top: 54%;
    }

    .name{
        font-size: 2vw;
        left: 7.4vw;
        top: 62%;
    }

    .discription{
        font-size: 52%;
        background-color: transparent;
        width: 93%;
        padding: 0%;
        height: 3vh;
        top: 74.4%;

    }

    .page2{
        height: 5vh;
        background-color: transparent;
    }
}