#button19{
    width: 20px;
    height: 20px;
    background-color: #071952;
    border-radius: 50%;
    cursor:pointer;
}
#button20{
    width: 20px;
    height: 20px;
    background-color: #088395;
    border-radius: 50%;
    cursor:pointer;
}
#button5{
    width: 20px;
    height: 20px;
    background-color: #35A29F;
    border-radius: 50%;
    cursor:pointer;
}
#button6{
    width: 20px;
    height: 20px;
    background-color: #F2F7A1;
    border-radius: 50%;
    cursor:pointer;
}
#button7{
    width: 20px;
    height: 20px;
    background-color: #451952;
    border-radius: 50%;
    cursor:pointer;
}
#button8{
    width: 20px;
    height: 20px;
    background-color: #662549;
    border-radius: 50%;
    cursor:pointer;
}
#button9{
    width: 20px;
    height: 20px;
    background-color: #AE445A;
    border-radius: 50%;
    cursor:pointer;
}
#button10{
    width: 20px;
    height: 20px;
    background-color: #F39F5A;
    border-radius: 50%;
    cursor:pointer;
}
#button11{
    width: 20px;
    height: 20px;
    background-color: #793FDF;
    border-radius: 50%;
    cursor:pointer;
}
#button12{
    width: 20px;
    height: 20px;
    background-color: #7091F5;
    border-radius: 50%;
    cursor:pointer;
}
#button13{
    width: 20px;
    height: 20px;
    background-color: #97FFF4;
    border-radius: 50%;
    cursor:pointer;
}
#button14{
    width: 20px;
    height: 20px;
    background-color: #435334;
    border-radius: 50%;
    cursor:pointer;
}
#button15{
    width: 20px;
    height: 20px;
    background-color: #9EB384;
    border-radius: 50%;
    cursor:pointer;
}
#button16{
    width: 20px;
    height: 20px;
    background-color: #CEDEBD;
    border-radius: 50%;
    cursor:pointer;
}
#button17{
    width: 20px;
    height: 20px;
    background-color: #FAF1E4;
    border-radius: 50%;
    cursor:pointer;
}
#button18{
    width: 20px;
    height: 20px;
    background-color: #EBE76C;
    border-radius: 50%;
    cursor:pointer;
}