@media only screen and (max-width:505px) {
    *{
        margin: 0%;
        padding: 0%;
    }

    html,body{
        width: 100vw;
        height: 100vh;
        background-color: red;
    }

    nav{
        width: 100%;
        position: relative;
        height: 7vh;
        background-color: transparent;
        padding: 0 4px;
    }

    nav>.logo{
        background-color: transparent;
        width: 40vw;
    }

    nav>.links{
        top: 103%;
        right: 2%;
        position: absolute;
        background-color: rgb(54, 54, 54);
        width: auto;
        height: auto;
        border-radius: 20px;
        padding: 5px;
    }
    .links>ul{
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 4px;
    }

    .links>ul>li{
        background-color: transparent;
        padding: 1px 30px;
        border-radius: 50px;
    }
    .coustmise{
        width: 55vw;
        height: 55vh;
        padding: 0%;
    }
    .form{
        justify-content: start;
        padding: 0%;
        background-color: rgba(255, 0, 0, 0);
        display: flex;
        align-items: start;
    }
    #cost{
        padding: 3%;
        background-color: rgba(110, 130, 110, 0);
        align-items: start;
        justify-content: start;
    }
}