*{
    margin: 0%;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    z-index: 1;
    color: #ffffffd2;
}

html,body{
    background-color: #000;
    color: #ec2323;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

.main{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #b86b3f;
    transition: all ease 1.7s;
}


nav{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    z-index: 98;
}

nav>.logo{
    background-color: transparent;
    width: 10vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav>.logo>h2{
    font-size: 3rem;
}

nav>.links{
    width: 35vw;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

nav>.links>ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    list-style-type: none;
}

nav>.links>ul>li{
    font-size: 1.16rem;
    font-weight: 500;
    cursor: pointer;
}

nav>.links>ul>li>a{
    text-decoration: none;
}

nav>.buttons{
    background-color: transparent;
    width: 15vw;
    gap: 20px;
    position: relative;
    left: -20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav>.buttons>button{
    height: 30px;
    border-radius: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 15%;
    font-size: 1rem;
    font-weight: 500;
    background-color: rgba(80, 80, 80, 0.192);
    border: none;
    color: #fff;
}

#cost{
    position: absolute;
    padding: 5px 5px;
    border-radius: 10px;
    border: 2px solid #fff;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
    scroll-snap-align: start;
    flex-direction: column;
}

.nav-border{
    background-color: #3C3C3C;
    width: 99%;
    height: auto;
    position: relative;
    top: 12.83%;
    border-radius: 10px;
    overflow-x: hidden;
    flex-wrap: wrap;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: row;
    gap: 7px;
    padding: 2px;
    padding-left: 3px;
    padding-right: 3px;
    flex-wrap: wrap;
    padding-top: 35px;
    padding-bottom: 10px;
}

.nav-border::-webkit-scrollbar{
    display: none;
}

.nav-border>span{
    position: absolute;
    top: 10px;
    width: 80%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#cost::-webkit-scrollbar {
    display: none;
  }

#cost>li{
    position: relative;
    top: 13.5%;
    margin-bottom: 5px;
    width: 100%;
    /* left: 2%; */
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(79, 79, 79, 0.591);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
}

.buttons-in-bgclr{
    background-color: transparent;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 55px;
    flex-wrap: wrap;
    gap: 5px;
    overflow: hidden;
    overflow-x: scroll;
}

.buttons-in-bgclr::-webkit-scrollbar{
    display:none;
}

#button1{
    width: 20px;
    padding: 10px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.71);
    border-radius: 50px;
    cursor: pointer;
}

#button2{
    width: 20px;
    padding: 10px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid #ffffff;
}
#button3{
    width: 20px;
    padding: 10px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    cursor: pointer;
}
#button4{
    width: 20px;
    padding: 10px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(109, 109, 109, 0.336);
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0);

}

.coustmise{
    position: fixed;
    bottom: 2%;
    right: 1%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: rgb(31, 31, 31);
    width: 20vw;
    height: 60vh;
    z-index: 99;
}

#home>a{
    text-decoration: none;
}

.form{
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cost{
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0%;
    border-radius: 10px;
    flex-wrap: wrap;
    overflow-x: scroll;
}

.coustmise{
    display: none;
}


.cstpg{
    position: absolute;
    bottom: 2%;
    background-color: #8686863b;
    padding: 3% 41%;
    border-radius: 5px;
    text-align: center;
    font-size: 0.97rem;
    cursor: pointer;
}

.cstpg:hover{
    background-color: #3131317a;
}

.cls1{
    width: 30px;
    height: 30px;
    background-color: #ffffff64;
    position: absolute;
    top: 3%;
    border-radius: 50%;
    right: 5%;
    color: #090909b4;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.cls1>p{
    font-size: 30px;
    font-weight: 400;
}

span{
    font-size: 13px;
    font-weight: 700;
    color: #d4d4d4c6;
}


.position1{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: rgb(134, 134, 134);
}

.position3{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background-color: #868686;
}
.position2{
    width: 20px;
    height: 20px;
    background-color: rgba(8, 8, 8, 0.725);
    border-radius: 50%;
    border: none;
}


#cost>:nth-last-child(1)>.nav-textcolor-button{
    /* background-color: rgb(67, 77, 67); */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 75%;
    gap: 7px;
    padding: 2px;
    /* position: absolute; */
    /* top: 70%; */
}
#cost>:nth-last-child(1){
    width: 45%;
    height: 58%;
    margin-left: 5px;
    /* background-color: red; */
    overflow: hidden;
    justify-content: start;
}

#cost>:nth-last-child(2){
    width: 45%;
}

.menu,.menu2{
    display: none;
}

.page-customize{
    position: fixed;
    bottom: 1.5%;
    right: 1.2%;
    width: 25%;
    height: 70%;
    background-color: rgb(69, 69, 69);
    z-index: 99;
    border-radius: 20px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
    display: none;
}

.page-customize::-webkit-scrollbar{
    display: none;
}

.page-customize>h1{
    width: 100%;
    height: auto;
    /* background-color: #000; */
    box-shadow: 0 1px 0 #fff;
    position: relative;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 270%;
    color: #94A684;
}

.page-cls{
    width: 25px;
    height: 25px;
    background-color: rgba(114, 114, 114, 0);
    position: absolute;
    right: 2.5%;
    top: 2.5%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-cls>#close{
    font-size: 25px;
    font-weight: 100;
    color: #FFBB5C;
}

.day-night{
    width: 100%;
    height: 7%;
    position: relative;
    bottom: 5px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

#day{
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#day>.ri-sun-fill{
    color: #fff;
    font-size: 1.4em;
    text-shadow: 0 0 17px #fff;
}
#night{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

#night>.ri-moon-fill{
    color: #000;
    font-size: 1.4em;
    text-shadow: 0 0 10px #000;
}

.page1-l{
    background-color: transparent;
    width:100%;
    height: 110px;
    border-radius: 10px;
    overflow: hidden;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;

}

.page1-l>h4{
    font-size: 1.5rem;
    font-weight: 500;
    color: #AEC3AE;
}

.page1-l>p{
    font-size: 1em;
    margin-top: 13px;
    margin-left: 8px;
    color: #a0a0a096;
    font-weight: 600;
}

.page1-l>.page-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    overflow: hidden;
    width: 70%;
    height: 65%;
}

.page-cust{
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
}

.pages{
    width: auto;
    height: auto;
}


#page1{
    width: 100%;
    height: 100vh;
    /* background-color: ; */
    padding-top: 9vh;
    display: flex;
    overflow: hidden;
    position: relative;
}

.l-text{
    width: 95%;
    height: 90%;
    overflow: hidden;
    margin-left: 4vw;
    border-radius: 15px;
    margin-top: 5vh;
    position: relative;
}

.l-text>.boimg{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    /* object-fit: cover; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.boimg>img{
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 80%;
    filter: blur(1px);
    z-index: 0;
}

.fotext{
    padding: 10px;
    height: 100%;
    position: relative;
    top: 0%;
    width: 100%;
}

.fotext>h1{
    width: auto;
    height: auto;
    font-size: 6.4vw;
    font-weight: 600;
    font-family: 'Alumni Sans Inline One';
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    top: 4%;
    left: 3vw;
    text-shadow: 0 0 3px #ffffff6b;
}

.fotext>h1>p{
    /* background-color: yellow; */
    font-weight: 600;
    font-size: 1.5vw;
    top: -2vh;
    left: -2.3vw;
    color: #fff;
    text-shadow: 0 0 3px #afafafcb;
    position: absolute;
    transform: rotate(-15deg);
    animation: op;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.fotext>p{
    width: 100%;
    height: 19vh;
    text-wrap: wrap;
    padding: 2vh 4vw;
    color: #383f68;
    text-shadow: 0 0 2px #919191c0;
    /* background-color: red; */
    overflow: hidden;
    font-size: 1.92vh;
}

.bobuttons{
    width: 100%;
    height: auto;
    /* background-color: red; */
    position: absolute;
    bottom: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.bobuttons>button{
    width: 30%;
    height: 5vh;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    font-size: 0.98vw;
    color: #000000d8;
    font-weight: 600;
    background-color: #d0d0d04d;
    box-shadow: 2px 2px 2px #000;
    transition: all ease 0.5s;
}

.bobuttons>button:active{
    box-shadow: 0 0 0 transparent;
    position: relative;
    top: 2px;
    left: 2px;
    transition: all ease 0.5s;
}

.bobuttons>button:hover{
    background-color: #ffffffb7;
    color: #000;
}

.r-pngs{
    width: 39%;
    position: relative;
    left: 1%;
    top: 5.6%;
    border-radius: 15px;
    /* background-color: red; */
    height: 70%;
    filter: drop-shadow( 0 0 3px rgba(194, 194, 194, 0.363));
    /* overflow: hidden; */
}

.r-pngs>img{
    height: 104%;
    position: relative;
    left: -5%;
    /* mix-blend-mode: multiply;
    filter: invert(100%); */
    z-index: 0;
}

.customize-web{
    position: fixed;
    background-color: transparent;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    z-index: 99;
    right: 2%;
    bottom: 2%;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 98;
}

.customize-web>a{
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    font-weight: 500;
    font-size: 0.86rem;
}

.page2{
    width: 100vw;
    min-height: 100vh;
    background-color: transparent;
    display: flex;
    align-items: start;
    justify-content: space-around;
    padding-top: 10vh;
    flex-wrap: wrap;
}

.slider{
    padding: 13px;
    width: 25vw;
    border-radius: 15px;
    height: auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    gap: 20px;
}

.slider>.designes{
    position: relative;
    /* padding: 20px;
    background-color: red; */
    width: 100%;
    min-height: 150px;
    transition: all ease 0.7s;
    border-radius: 5px;
    overflow: hidden;
}

.slider>.designes:hover>img{
    scale: 1.15;
    transition: all ease 0.7s;
    filter: blur(2px);
}

.slider>.designes>img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 1.1;
    object-fit: cover;
    transition: all ease 0.7s;
}

.slider>.designes:hover>.raper-des{
    display: block;
    transition: all ease 0.7s;
    position: absolute;
    bottom: 0%;
}

.slider>.designes>.raper-des{
    width: 100%;
    height: 55%;
    position: absolute;
    opacity: 90%;
    bottom: -60%;
    /* display: none; */
    transition: all ease 0.7s;
}

.slider>.designes>.raper-des>.details{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0%;
    padding: 10px ;
    flex-wrap: wrap;
    display: flex;
    align-items: start;
    justify-content: space-around;
    transition: all ease 1.7s;
    background-color: #b86b3f;
}

.details>.logo{
    position: absolute;
    top: 0%;
    left: 4%;
    width: 40px;
    height: 40px;
    background-color: rgb(77, 77, 77);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #c4c4c4cb;
    overflow: hidden;
    z-index: 62;
}

.details>.logo>a>img{
    width: 100%;
    height: auto;
    border-radius: 50px;
}

.details>.usrnm{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 10px;
    top: 1.3vh;
    left: 15%;
    width: 60%;
    height: 20px;
}

.usrnm>a{
    text-decoration: none;
    font-size: 1.12rem;
    font-weight: 600;
}

.details>.discript{
    background-color: transparent;
    width: 100%;
    position: absolute;
    top:40px;
    height: 35%;
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: scroll;
    padding: 0 2px;
    z-index: 60;
}

.details>.discript::-webkit-scrollbar{
    display: none;
}

.details>.discript>p{
    background-color: transparent;
}

.details>.buttons{
    display: flex;
    position: absolute;
    bottom: 0%;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: transparent;
    z-index: 61;
}

.details>.buttons>.like{
    background-color: transparent;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.details>.buttons>.like>a , .downloads>a , .view>a{
    text-decoration: none;
    font-size: 1.3rem;
    transition: all 0.8s;
}


.details>.buttons>.like>a>.ri-heart-fill , .downloads>a>.ri-download-fill , .view>a>.ri-eye-fill{
    transition: all 0.8s;
}

.details>.buttons>.like>a>.ri-heart-fill:hover , .downloads>a>.ri-download-fill:hover , .view>a>.ri-eye-fill:hover{
    color: rgba(158, 158, 158, 0.671);
    transition: all 0.8s;
}

.details>.buttons>.downloads{
    background-color: transparent;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.details>.buttons>.view{
    background-color: transparent;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nextpagebtn>.nextpagebutton{
    background-color: rgba(201, 201, 201, 0.699);
    padding: 10px 50px;
    position: relative;
    top: 80px;
    color: #292929;
    font-size: 1.1rem;
    font-weight: 500;
    border: 1px solid #fff;
    border-radius: 50px;
    transition: all 0.7s;
}

.nextpagebtn>.nextpagebutton:hover{
    background-color: rgba(27, 156, 216, 0.479);
    transition: all 0.7s;
}

.nextpagebtn{
    position: absolute;
    width: 100vw;
    height: 250px;
    bottom: 0%;
    z-index: 65;
    background: linear-gradient(rgba(255, 0, 0, 0), rgb(21, 24, 21));
    display: flex;
    align-items: center;
    justify-content: center;
}

.ri-corner-right-down-fill{
    color: #3b3b3b;
    position: relative;
    top: 5px;
    left: 10px;
}