@media only screen and (max-width:502px) {
    html,body{
        background-color: rgba(36, 36, 36, 0.945);
    }
    
.co-main>.page1{
    width: 100%;
    height: 30vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.678);
    padding-right: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.image1{
    width: 101%;
    height: 101%;
    background-color: rgba(71, 71, 69, 0.5);
    position: relative;
    z-index: 2;
}

.image1>a>img{
    width: 100%;
    height: 100%;
}

.text{
    width: 90%;
    height: 30%;
    background-color: transparent;
    position: absolute;
    z-index: 4;
}

.text>h1{
    background-color: transparent;
    width: 100%;
    height: 30%;
    font-size: 4.08vw;
    position: relative;
    top: -15%;
    text-shadow: 0 0 6px #6195E5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}

.text>p{
    font-size: 2.7vw;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    top: -15%;
    width: 89%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: transparent;
    background: linear-gradient(to left,  rgba(207, 222, 255, 0.623) 0%,rgba(113, 160, 255, 0.644) 24%,rgba(7, 90, 255, 0.603) 51%,rgba(79, 138, 255, 0.527) 79%,rgba(133, 174, 255, 0.644) 100%);

}
#main>.page2{
    width: 100%;
    height: auto;
    top: 900px;
    background-color: transparent;
    padding: 2% 0;
    display: flex;
    justify-content: space-around;
    gap: 0px;
    flex-wrap: wrap;
}

#main>.page2>.img-box-p2{
    position: relative;
    top: 0px;
    width: 46%;
    height: auto;
    background-color: transparent;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items:start;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
    padding: 0% 3px;
}
#main>.page2>.img-box-p2>.img-box{
    width: 100%;
    overflow: hidden;
    height: auto;
    background-color: transparent;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main>.page2>.img-box-p2>.img-box>img{
    width: 100%;
}


.contant>.dis{
    background-color: #0000006b;
    width: 100%;
    height: 40%;
    padding: 3%;
}

.contant>.dis>p{
    color: rgba(231, 231, 231, 0.61);
    font-size: 67%;
}

.button1>a:hover{
    animation: scale;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    transition: all 0.5s;
}

@keyframes scale {
    100%{
        font-size: 1.2rem;
    }
}

.button1>a{
    text-decoration: none;
    font: 400;
    font-size: 90%;
}

}