*{
    padding: 0%;
    margin: 0%;
    overflow: unset;
}

#main{
    width: 100vw;
    height: auto;
    padding-top: 4vh;
}

#page-top{
    width: 100%;
    height: 0vh;
}

.co-main{
    width: 100%;
    height: auto;
    overflow: unset;
    background-color: red;
    padding-top: 2%;
    position: relative;
}

.co-main>.page1{
    width: 100%;
    height: 75vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.678);
    padding-right: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    overflow: hidden;
}

.image1{
    width: 101%;
    height: 101%;
    background-color: yellow;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
}

.image1>a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.image1>a>img{
    width: 100%;
    height: auto;
}


.text{
    width: 80%;
    height: 30%;
    background-color: transparent;
    position: absolute;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.text>h1{
    background-color: transparent;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.44vw;
    position: relative;
    top: -30%;
    text-shadow: 0 0 6px #6195E5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}

.text>p{
    font-size: 1.2vw;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    top: -15%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: transparent;
    background: linear-gradient(to left,  rgba(207, 222, 255, 0.418) 0%,rgba(113, 160, 255, 0.445) 24%,rgba(7, 90, 255, 0.329) 51%,rgba(79, 138, 255, 0.349) 79%,rgba(133, 174, 255, 0.411) 100%);

}

#main>.page2{
    width: 100%;
    top: 700px;
    overflow: hidden;
    position: relative;
    height: auto;
    background-color: transparent;
    padding: 2% 0;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
}

#main>.page2>.img-box-p2{
    position: relative;
    top: 0%;
    width: auto;
    height: auto;
    background-color: transparent;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    padding: 0% 3px;
}

#main>.page2>.img-box-p2>.img-box{
    width: 18vw;
    overflow: hidden;
    height: auto;
    background-color: transparent;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 1s;
}

#main>.page2>.img-box-p2>.img-box:hover .h-img{
    opacity: 80%;
    scale: 1.04;
    transition: all ease 0.5s;
}

#main>.page2>.img-box-p2>.img-box>.h-img{
    width: 103%;
    position: relative;
    top: 2px;
    z-index: 0;
}

#main>.page2>.img-box-p2>.img-box>.contant{
    width: 100%;
    height: 45%;
    background-color: rgba(29, 29, 29, 0.541);
    position: absolute;
    padding: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 55%;
    border-radius: 0 0 20px 20px;
}

.contant>.logo-idname{
    width: 100%;
    height: 30px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 2%;
    position: absolute;
    top: 0%;
    /* overflow: hidden; */
}

.contant>.logo-idname>img{
    width: 30px;
    border-radius: 50%;
    height: 30px;
    background-color: transparent;
    overflow: hidden;
    border: 1px solid #fff;
    position: absolute;
    left: 5%;
}

.contant>.logo-idname>h3{
    position: absolute;
    left: 22%;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contant>.dis{
    background-color: transparent;
    width: 100%;
    height: 40%;
    padding: 3%;
    overflow: hidden;
}

.contant>.dis>p{
    color: rgba(231, 231, 231, 0.61);
    font-size: 90%;
    position: absolute;
    top: 35px;
}

.contant>.buttons{
    width: 100%;
    height: 20.7%;
    position: absolute;
    bottom: 0%;
    background-color: #131313;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 13%;
}

.button1{
    width: 25px;
    height: 25px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.button1>a:hover{
    animation: scale;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    transition: all 0.5s;
}

@keyframes scale {
    100%{
        font-size: 1.5rem;
    }
}

.button1>a{
    text-decoration: none;
    font: 400;
    font-size: 100%;
}

.button1:nth-child(1)>a{
    background-color: transparent;
    rotate: 30deg;
}