*{
    padding: 0%;
    margin: 0%;
    overflow: unset;
}

#main{
    width: 100vw;
    height: auto;
    padding-top: 4vh;
}

#page-top{
    width: 100%;
    height: 0vh;
}

.co-main{
    width: 100%;
    height: auto;
    overflow: unset;
    background-color: red;
    padding-top: 2%;
    position: relative;
}

.co-main>.page1{
    width: 100%;
    height: 75vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.678);
    padding-right: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    overflow: hidden;
}

.image1{
    width: 101%;
    height: 101%;
    background-color: yellow;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
}

.image1>a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.image1>a>img{
    width: 100%;
    height: auto;
}


.text{
    width: 80%;
    height: 30%;
    background-color: transparent;
    position: absolute;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.text>h1{
    background-color: transparent;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.44vw;
    position: relative;
    top: -30%;
    text-shadow: 0 0 6px #6195E5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}

.text>p{
    font-size: 1.2vw;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    top: -15%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: transparent;
    background: linear-gradient(to left,  rgba(207, 222, 255, 0.418) 0%,rgba(113, 160, 255, 0.445) 24%,rgba(7, 90, 255, 0.329) 51%,rgba(79, 138, 255, 0.349) 79%,rgba(133, 174, 255, 0.411) 100%);

}

#main>.page2{
    width: 100%;
    height: 100vh;
    background-color: red;
    padding: 2%;
}

#main>.page2>.img-box-p2{
    width: 96%;
    height: auto;
    background-color: yellow;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.2% 0%;
}

#main>.page2>.img-box-p2>.img-box{
    width: 20%;
    overflow: hidden;
    height: auto;
    background-color: transparent;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main>.page2>.img-box-p2>.img-box>img{
    width: 103%;
    position: relative;
    top: 2px;
    z-index: 0;
}

#main>.page2>.img-box-p2>.img-box>.contant{
    width: 100%;
    height: 45%;
    background-color: rgba(29, 29, 29, 0.541);
    position: absolute;
    top: 55%;
    border-radius: 0 0 20px 20px;
}

.contant>.logo-idname{
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 2%;
}

.contant>.logo-idname>img{
    width: 30px;
    border-radius: 50%;
    height: 30px;
    background-color: green;
    overflow: hidden;
    border: 1px solid #fff;
}